/* stylelint-disable */
.header {
  display: flex;
  padding: 16px 162px;
  justify-content: center;

  &__menu {
    display: flex;
    width: 100%;
    padding: 12px 48px;
    align-items: center;
    border-radius: 24px;
    background: var(
      --transparent-stroke,
      linear-gradient(
        180deg,
        rgba(255 255 255 / 0.13) 0%,
        rgba(153 153 153 / 0.13) 100%
      )
    );
  }

  &__logo {
    display: flex;

    &-title {
      color: $white;
      font-family: "Irish Grover", sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__navbar {
    display: flex;
    margin: 0 auto;

    &-list {
      display: flex;
      align-items: flex-start;
      gap: 48px;

      &-title,
      a {
        text-decoration: none;
        list-style-type: none;
        color: $white;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  &__sign {
    display: flex;
    align-items: center;
    gap: 24px;

    &-login {
      text-decoration: none;
      list-style-type: none;
      color: $white;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    &-signup {
      display: flex;
      padding: 16px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 16px;
      background: var(
        --transparent-stroke,
        linear-gradient(
          180deg,
          rgba(255 255 255 / 0.13) 0%,
          rgba(153 153 153 / 0.13) 100%
        )
      );

      & a {
        text-decoration: none;
        list-style-type: none;
        color: $white;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}
